{% extends "home_index.html" %}
{%load static %}
{% block turnos %}active{% endblock %}
{% block turnos_in %}in{% endblock %}
{% block turns_tomorrow %}active{% endblock %}

{% block here %}Turnos del {{day}}{% endblock %}
{% block list_here %}
    <li>
        Mi Agenda
    </li>
    <li class="active">
        <strong>De mañana</strong>
    </li>
{% endblock %}


{% block contenido %}
<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Turnos de mañana</h5>
                        <div class="ibox-tools">
                           
                        </div>
                    </div>
                    <div class="ibox-content" style="">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Servicio</th>
                                <th>Cliente</th>
                                <th>WhatsApp</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for turn in turns%}
                            <tr>
                                <td>{{turn.get_service}}</td>
                                <td>{{turn.get_client_name}}</td>
                                <td><img src="{% static 'images/turns/whatsapp.png' %}" widht="24" height="24">{{turn.get_phone}}</td>
                            </tr>
                           {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript_custom %}
<script src="{% static 'js/turns/turn_today.js'%}"></script>
{% endblock %}